
.banner__wrapper {
    position: relative;
    padding: 180rem 0 40rem;
}
.banner__wrapper .container {
    position: relative;
    z-index: 1;
}
.banner__title {
    margin-bottom: 100rem;
    font-size: 46rem;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 60%;
}
.banner__background {
    position: absolute;
    inset: 0;
    z-index: 0;
}
.banner__background img {
    position: absolute;
    right: 0;
    height: 100%;
    object-fit: contain;
    object-position: right top;
}

.banner__form__title {
    font-size: 24rem;
}
.banner__form form {
    display: flex;
    margin-top: 50rem;
}
.banner__form form input {
    font-size: 18rem;
    border-radius: 10rem;
    padding: 15rem 20rem;
}
.banner__form form input[type="submit"] {
    border: 2rem solid white;
    cursor: pointer;
    margin-left: 20rem;
    padding: 15rem 30rem;
}
.banner__form__warning {
    font-size: 10rem;
    margin: 10rem 0;
    width: 300rem;
}
.banner__description {
    margin-top: 120rem;
    font-size: 23rem;
    text-transform: uppercase;
}