

.top__wrapper {
    padding: 12rem 0;
}
.top__grid {
    align-items: center;
}
.top__menu {
    flex-grow: 1;
}
.top__menu__items a {
    font-size: 18rem;
    color: inherit;
    margin-right: 10rem;
}
.top__logo {
    padding-right: 22rem;
}
.top__logo img {
    height: 45rem;
}
.top__social__items a {
    margin-right: 10rem;
}
.top__phone {
    margin-left: 20rem;
}
.top__phone a {
    font-size: 24rem;
    font-weight: 600;
    padding: 10rem 15rem;
    white-space: nowrap;
    border-radius: 10rem;
}