

:root {
    
    --maxwidth: 1200px;

    --white: 255,255,255;
    --blue: 44,71,139;
    --red: 191,16,31;
    --grey: 54,54,54;
    --lightgrey: 230,230,230;
    
    --font-family: 'Montserrat', sans-serif;
    --font-size: 15px;
    --font-weight: 400;

}