
@media screen and (max-width: 1050px) {
    

    .clients__top {
        flex-direction: column;
        margin-top: 4vw;
    }


    .clients__title {
        min-width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .clients__items {
        flex-grow: 1;
        width: unset;
        margin: 10vw 0;
        flex-direction: column;
    }
    .clients__smalltitle {
        font-size: 5vw;
    }
    .clients__bigtitle {
        font-size: 6vw;
        margin-top: 1vw;
    }
    .clients__item {
        position: relative;
        border-radius: 7vw;
        margin: 2vw;
        margin-top: 15vw;
        padding: 17vw 3vw 0 3vw;
    }
    .clients__item__picture {
        position: absolute;
        top: -12vw;
        left: 50%; 
        transform: translateX(-50%);   
    }
    .clients__item__picture img {
        width: 24vw;
        height: 24vw;
        object-fit: cover;
        border-radius: 50vw;
    }
    .clients__item__name {
        font-size: 4vw;
    }
    .clients__item__job-title {
        font-size: 4vw;
    }
    .clients__item__text {
        position: relative;
        font-size: 3vw;
        border: 3px solid rgb(var(--blue));
        border-radius: 6vw;
        margin-left: -3vw;
        margin-right: -3vw;
        margin-top: 30rem;
        padding: 6vw 4vw 12vw;
        font-weight: 500;
    }
    .clients__item__more {
        position: absolute;
        bottom: 3px;
        right: 3px;
        width: fit-content;
    }
    .clients__item__ya {
        font-size: 0;
        overflow: hidden;
        border-radius: 7vw 0 5vw 0;
    }
    .clients__item__ya img {
        width: 50rem;
    }
    .clients__item__link {
        font-size: 3vw;
        font-weight: 600;
        padding-right: 5vw;
        padding-top: 4vw;
    }
    .clients__bottom {
        padding: 5vw;
        border-radius: 7vw;
        flex-direction: column;
    }
    .clients__count {
        min-width: unset;
        width: 100%;
    }
    .clients__count__numbers {
        font-size: 22vw;
        line-height: 1;
        text-align: center;
    }
    .clients__count__text {
        font-size: 4vw;
        text-align: center;
    }

    .clients__cards {
        margin: 0;
        flex-grow: 1;
        flex-direction: column;
    }
    .clients__card {
        position: relative;
        margin: 2vw;
        padding: 3vw;
        border-radius: 3vw;
        padding-left: 24vw;
        background: transparent;
        border: 2px solid white;
    }
    .clients__card__picture {
        position: absolute; 
        left: -2px;
        top: -2px;
        border-radius: 3vw;
        overflow: hidden;
        border: 2px solid white;
        font-size: 0;
    }
    .clients__card__picture img {
        width: 20vw;
        height: 20vw;
        object-fit: cover;
    }
    .clients__card__name {
        font-size: 3vw;
        font-weight: 600;
        color: white;
    }
    .clients__card__text {
        font-size: 3vw;
        font-weight: 400;
        color: white;
    }

}