

@media screen and (min-width: 1050px) {
   .pad {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .desktop {
        display: none;
    }
    .container {
        padding: 4vw;
    }
}
